*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    color: black;
}
.navBar{
    width: 100%;
   
    border-bottom: 2px solid white;
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    color: #DCD9E2;
    justify-content: space-between;
    padding: 1rem;
    
}
.logoContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sideBar{
    background: none;
    color:#DCD9E2 ;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.sideBar:hover{
    border-radius: 50%;
    background-color: #DCD9E2;
    color: #070010;
}
.logo{
    cursor: pointer;
}
.logo span{
    color: #3DE9D2;
}
.themeContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.theme h2{
    background-color: #202843;
    border-radius: 10px;
    padding: 0.5rem;

}
.themeContainer h2{
    cursor: pointer;
}
@media (max-width:800px){
    .theme{
        display: none;
    }
    nav{
        width: 100%;
    }


}
.mainContainer{
    margin-top: 1rem;
    display: flex;
    gap: 3rem;
}
.leftContainer{

    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-right: 2px solid white;
    padding: 1rem;

}
.leftContainer a{
    text-decoration: none;
    padding: 1rem;
    color: #9C9CA0;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    transition: 0.3s;
    
}
.leftContainer a:hover{
    background-color:  #113941;
}
.headingWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #3DE9D2;
    border-radius: 10px;
    padding: 1rem;
}
.headingWrapper h2{
    font-size: 5rem;
    color: #D8D6E0;

}
.headingWrapper h3{
    color: #404252;

}
.headingWrapper h3 i{
    color: red;  
}
.headingWrapper h3 i:hover{
    height: 2rem;
}

.typeWrapper{
    display: flex;
    gap: 1rem;
    margin-left: 0.5rem;
    flex-wrap: wrap;
}
.typeWrapper button{
    background-color: #171124;
    color: white;
    font-size: 1rem;
    margin-top: 0.6rem;
    height:3rem;
    width: 6rem;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    cursor: pointer;

}
.typeWrapper button:hover{
    background-color: #113941;
    
}
.projectlist{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;

}
.projectl{
    height: 15rem;
    width: 15rem;
    background-color: #3DE9D2;
    border-radius: 10px;
}

